body{
    color: white;
}
table{
    background-color: black;
    width: 100%;
    height: 300px;
}
.head{
    margin-left: 50px;
    margin-top: -80px;
}
#email{
    background-color: rgb(37, 37, 43);
    border: none;
    width: 300px;
    height: 30px;
    color: white;
    padding-left: 10px;
}
.check{
    margin-top: -33px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(80, 79, 79);
}
.number{
    text-align: center;
    color: white;
    background-color: blue;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 30px;

}
.copy{
    margin-left: 700px;
}