*{
    padding: 0;
    margin: 0;
}
td{
    padding: 15px;
}
h2{
    margin-bottom: 30px;
}
br{
    width: 80%;
}
.btn{
    margin-top: 30px;
    background-color: rgb(104, 177, 219);
    border-radius: 15px;
    color: white;
}
.image{
    margin-left: 200px;
}
hr{
    margin-top: 100px;
}
.sticker{
    margin-top: 50px;
    margin-left: 30px;
}
.cuoi{
    margin-left: 100px;
}
.btn-btn{
    text-align: center;
    width: 180px;
    height: 40px;
    margin-top: 40px;
    background-color: rgb(16, 187, 93);
    border-radius: 15px;
    color: white;
    line-height: 40px;
}