.container{
    margin: auto;
    background: #edeaf3;
    padding: 10px;
    min-width: 360px;
}
.title{
    text-align: center;
    font-size: 20px;
    margin: 12px;
}
.note{
    margin: 10px;
    font-size: 14px;
}
.sign_up form fieldset{
    border: none;
}
.information input{
    padding: 5px;
    width: 99%;
    margin: 3px 0;
    border: 1px solid #bbb6ac;
    border-radius: 6px;
}
.choose_gender{
    width: 100%;
    display: flex;
    position: relative;
}
.choose_gender .col-40 {
    width: 40%;
}
.gender{
    width: 25%;
}
.alert{
    display: none;
    font-size: 12px;
}
textarea{
    padding: 5px;
    width: 99%;
    margin: 3px 0;
    border: 1px solid #bbb6ac;
    border-radius: 6px;
}
.submit_form{
    text-align: center;
}
.btn{
    margin-top: 13px;
    padding: 8px 3px 9px 3px;
    background: white;
    border: 1px solid #e2dfdf;
}
.btn_sign_up{
    background: skyblue;
    color: white;
    border: 1px solid skyblue;
}